<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TechableMovieManager.Properties.Settings.TechableDatabaseConnectionString"
            connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=TechableDatabase;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="TechableMovieManager.Properties.Settings.TechableConnectionString"
            connectionString="Data Source=ioithos-azure1.database.windows.net;Initial Catalog=Techable;User ID=ioithos;Password=4Larha++;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="TechableMovieManager.Properties.Settings.TechableConnectionString1"
            connectionString="Data Source=WIN-EBAS1CBC4OQ;Initial Catalog=Techable;User ID=remote_user;Password=Password1;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>